h1{
    text-align: left;
    margin-left: 10%;
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 50px;
    line-height: 120%;
    letter-spacing: 0.003em;
    color: #11142D;
}