.topBanner{
    position: absolute;
    width: 100%;
    height: 640px;
    left: 0px;
    top: 205px;
    background: #ffffff;
}

.products-container {
    width: 89%;
    top: 1000px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    position: absolute;
    left: 0px;
    margin-left: 6rem;
    padding-bottom: 70px;
    
}



