.topBanner{
    position: absolute;
    width: 100%;
    height: 640px;
    left: 0px;
    top: 205px;
    background: #ffffff;
}

.products-container {
    width: 89%;
    top: 1050px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    position: absolute;
    left: 0px;
    margin-left: 6rem;
    padding-bottom: 70px;
    
}

.category{
    color: black;
    position: relative;
    position: absolute;
    width: 179px;
    height: 29px;
    left: 100px;
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 120%;
    letter-spacing: 0.005em;
    top: 980px;
    color: #9A9AB0;
    cursor: pointer;
}

.category:hover{
    color:#F86338;
}

#jewelery{
    left: 450px;
}

#clothing{
    left: 650px;
}

#electronics{
    left: 850px;
}


